/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Futura";
  src: local("Futura"), url(./assets/fonts/FuturaNowHeadlineExtraBold.ttf) format("truetype");
}

html,
body {
  margin: 0px;
  height: 100%;
}
